<section class="about_sec" id="about">
    <div class="line-shape-1"><img src="/images/shape1.png" alt=""></div>
    <div class="line-shape-2"><img src="/images/shape1.png" alt=""></div>
    <div class="About_image">
        <img src="/images/About_image.jpg" alt="">
    </div>
    <div class="about_content">
        <h2>About Me</h2>
        <p>Hello! My name is Tariq Ahmed. I am a second year student studying Networking and IT Security!</p>
        <div class="btn">
        </div>
    </div>
</section>