<section class="hero_Sec" id="home">
    <div class="dark_svg"><svg x="0px" y="0px" viewBox="0 186.5 1920 113.5"><polygon points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 "></polygon></svg></div>
    <div class="container hero_content">
        <div class="iam">I'm A</div>
        <div class="text">Web Designer</div>
        <p>My name is Tariq Ahmed and this is my Portfolio!</p>
        <div>
            <a class="btn_theme" href="/#projects">See Portfolio</a>
        </div>
    </div>
</section>