<section class="portfolio_section" id="project">
    <div class="blog_heading">
        <h2>MY PORTFOLIO</h2>
    </div>
    <div class="portfolio_sec">
        <div class="portfolio_single">
            <h3>Calculator</h3>
            <p>The first project I did in python was to make a calculator. I had no experience in any programming language as I did not take any course related to programming. It was a fun experience and I had a lot of fun doing it!</p>
        </div>
        <div class="portfolio_single">
            <h3>Hangman</h3>
            <p>The second project I did in python was the big group project. It was to make a game called hangman. we were a team of four to five and I learn so much from my group members. They help me become more fluent in python and helped me understand each and everything we did in the project.</p>
        </div>
    </div>
</section>
<section class="video">
    <div class="blog_heading">
        <h2>DIGITAL ART</h2>
    </div>
    <div class="video_sec">
        <video controls>
            <source src="/images/image/mp4.mp4" type="video/mp4">
          </video>
    </div>
</section>
